.scroll-area {
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}

.summary-box {
    background: rgba(255, 255, 255, 0.07);
    transition: all 0.3s ease;
}

.summary-box:hover {
    background: rgba(255, 255, 255, 0.12);
}

.tracking-wider {
    letter-spacing: 0.1rem;
}

.rounded-4 {
    border-radius: 1.5rem;
}

.card {
    border-radius: 12px;
}

@media (max-width: 991px) {
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="password"],
    input[type="date"],
    textarea,
    select {
        font-size: 16px !important;
    }

    ::placeholder {
        font-size: 14px;
    }

    .col-5 input[list="currencyOptions"],
    .col-7 input[name="original_amount"],
    .mb-2 input[name="title"],
    #detailInput {
        font-size: 16px !important;
    }
    
}